@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my Azure appservice website page</h1>
    <p>Welcome to Melbin's Azure App service .Netcore 5 Web app</a>.</p>
</div>
